argcomplete==1.9.4
astroid==2.2.5
autopep8==1.4.4
certifi==2019.3.9
chardet==3.0.4
idna==2.8
isort==4.3.20
lazy-object-proxy==1.4.1
luma.core==1.8.2
luma.emulator==1.1.0
luma.oled==3.1.0
mccabe==0.6.1
Pillow==5.4.0
psutil==5.4.8
pycodestyle==2.5.0
pygame==1.9.4
pylint==2.3.1
requests==2.22.0
RPi.GPIO==0.6.5
six==1.12.0
smbus2==0.2.2
spidev==3.2
timeloop==1.0.2
typed-ast==1.3.5
urllib3==1.25.3
wrapt==1.11.1
